.avatar-upload {
  position: relative;
  background-color: #f2f5f8;
  color: #677489;
  width: 600px;
  height: 200px;
  border: 3px dashed #c7cdd3;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .logo-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    min-width: 150px;
    min-height: 150px;
    border-radius: 50%;
    overflow: hidden;

    margin: 0 35px;

    &.error {
      background-color: #c3cbd5;
    }

    .error-img {
      width: 32px;
      height: 32px;
    }

    .logo {
      width: 150px;
      height: 150px;
    }
  }

  & > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      margin: 0;
    }

    .avatar-upload-title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;
    }

    .title {
      font-size: 18px;
      color: #677489;
      position: absolute;
      margin-bottom: 64px;
      right: 50%;
    }

    .save-button {
      background-color: #3d485f;
      border: unset;
      width: 120px;
      height: 36px;
      border-radius: 120px;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      position: absolute;
      top: 120px;
      right: 36px;
    }

    .cancel-button {
      position: absolute;
      top: 16px;
      right: 16px;
      background-color: transparent;
      border: none;
    }
  }

  .error-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-right: 150px;

    .error-body {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      flex: 1;
      color: #c64d31;
      font-size: 18px;

      .error-button {
        margin-top: 16px;
        display: inline-block;
        padding: 0;
        border: 0;
        background: transparent;
        cursor: pointer;
        color: inherit;
        text-decoration: underline;
        color: #3d485f;
        font-size: 18px;
      }
    }
  }
}

.croppie-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .cr-boundary {
    border-radius: 50%;
    .cr-viewport {
      border: unset;
    }
  }
  .cr-slider-wrap {
    width: fit-content !important;
  }
}
